@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f8ff;
}

body.dark {
  background-color: #06080b;
  color: #fff;
}

main {
  min-height: 50vh;
}

main input {
  line-height: 28px;
}

input.shadow-none:focus {
  box-shadow: none;
}

.dark input {
  background-color: transparent;
}

.bg-magenta {
  background-color: rgb(219 11 54 / var(--tw-bg-opacity));
}
